html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto Slab', serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: "Times New Roman", Times, serif;
    font-size: 80px;
    color: black;
    font-weight: normal;
}

h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 2.5rem;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3, h4 {
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
}

a {
    color: #11999E;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

p {
    color: black;
    line-height: 1,5;
    font-size: 20px;
}

/* Containers */

.container-fluid {
    text-align:center;
    width: 100%;
    padding: 0px;
    min-height: 450px;    
}

.container {
    position: relative;
    margin-top: 100px;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    top: 200px;
    border-radius: 25px;
    bottom: 50px;
    box-shadow: 0px 5px  5px rgba(0,0,0,0.6);
}

.bottom-container {
    position: relative;
    padding: 50px 0 20px;
    background-color: #3c4f65;
    text-align: center;
    top: 150px;
}

.me {
    margin-top: 100px;
}

.me h1 {
    font-size: 2.5rem;
}

.me-again {
    width: 100%;
	text-align: center;
    height: 550px;
    padding-top: 50px;
    padding: 20px;
    background-color: #3c4f65; 
    position: absolute;
    color: #fff;
}

/* Nav Bar */

.navbar {
	position: fixed;
	width: 100%;
	top: 0;
    Transition:all 0.3s;
	z-index: 1;
    background-color: white;
}

.nav-link {
    margin: 10px 20px;
    text-align: center;
}

.after-scroll {
    position: fixed;
    width: 100%;
    Transition:all 0.3s;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 5px  5px rgba(0,0,0,0.1);
}

.button-top {
    position: fixed;
    z-index: 1;
    right: 30px;
    bottom: 70px;
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
    background-color: grey;
}

.button-top:hover {
    background-color: #d9d9d9;
}

.button-top-visible{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

/* Main Content */
.profile {
    margin: 90px auto 120px auto;
}

.skills {
    margin-top: 100px;
    margin-bottom: 100px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.intro {
    color: #fff;
    width: 50%;
    margin: auto;
}

.contact-me {
    position: relative;
    margin: 50px auto 50px auto;
    padding: 50px;
    top: 230px;
    text-align: center;
}

/* Footer */
.copyright-message {
    color: black;
    font-size: 0.75rem;
    padding: 20px 0px;
}

.footer-link {
    color: black;
    text-decoration: none;
}

.button-circle {
	width: 40px;
	height: 40px;
	margin: auto 10px auto 10px;
	font-size: 18px;
}

/* Images */
.heading-img {
    text-align: center;
    margin: 0px 50px 0px 50px;
}

.aleksandar-img {
    border-radius: 50%;
    width: 25%;
}

.code-img {
    width: 20%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}

.mark-img {
    width: 20%;
    float: right;
    margin-left: 30px;
}

.logo-img {
    width: 80px;
    Transition:all 0.3s;
}

/* Responsive */
@media (max-width: 1028px){
    .profile {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    .container {
        width: 80%;
        top: 350px;
    }

    .contact-me {
        position: relative;
        height: 300px;
        top: 300px;
    }

    .skill-row {
        text-align: center;
        padding: 0px;
        width: 70%;
    }

    .skill-row  h4 {
        text-align: center;
    }

    .skill-row  p {
        text-align: center;
    }

    .skills img {
        float: none;
        text-align: center;
        margin: 0px;
        margin-bottom: 30px;
    }
}

@media (min-width: 570px){
    .container {
        width: 80%;
        top: 300px;
    }
}
